@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow-main: #ffe74c;
  --yellow-200: #fff6c4;
  --yellow-100: #fff4ad;
  --aqua: #a0bab0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-radial {
    background: radial-gradient(circle at center, #a0bab0 24%, #427662 100%);
  }
  .shadow-aqua {
    box-shadow: 0 13px 26px var(--aqua);
  }
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  src:
    local("Pretendard Thin"),
    url("../../public/fonts/Pretendard-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  src:
    local("Pretendard ExtraLight"),
    url("../../public/fonts/Pretendard-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  src:
    local("Pretendard Light"),
    url("../../public/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  src:
    local("Pretendard Regular"),
    url("../../public/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  src:
    local("Pretendard Medium"),
    url("../../public/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  src:
    local("Pretendard SemiBold"),
    url("../../public/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  src:
    local("Pretendard Bold"),
    url("../../public/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  src:
    local("Pretendard ExtraBold"),
    url("../../public/fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  src:
    local("Pretendard Black"),
    url("../../public/fonts/Pretendard-Black.woff2") format("woff2");
}

.cu-progress-btn {
  @apply w-10 h-10 rounded-full bg-white border border-black cursor-pointer;
}
